.git
.idea
node_modules
nbproject
scripts

# npm package files
iobroker.*.tgz

Thumbs.db

# i18n intermediate files
admin/i18n/flat.txt
admin/i18n/*/flat.txt
/linkeddevices.code-workspace
/wordsFromAdmin.js
system.config.json
*.code-workspace
